<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Swiggy Food Delivery</title>
</head>
<body>
    <label for="hotel">Hotel Name</label>
    <input type="text" id="hotel" placeholder="Enter Hotel Name"><br><br>
    <label for="dish">Food items</label>
    <input type="text" placeholder="select your frvt food"><br><br>
    <label for="quntity">Quntity</label>
    <input type="number" placeholder="Quntity of items"><br><br>
    <label for="price">Price</label>
    <input type="number" id="price" placeholder="Enter the price">

</body>
</html>